@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
}

.movie{
  background-color: #373b69;
  box-shadow: 3px,3px,5px,rgb(0, 0, 0.1);
  border-radius: 3px ;
  overflow: hidden;
  margin: 1rem;
  width: 200px;
  position: relative;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3{
  margin: 0;
}

.movie img {
  max-width: 100%;
}

.rating-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-plot{
  background-color: white;
  color: #22254b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 3px,3px,5px,rgb(0, 0, 0.1);
  border-top-left-radius: 3px ;
  border-top-right-radius: 3px ;
}

.movie:hover .movie-plot{
  transform: translateY(0%);
}
